name: Build

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  ci-checks:
    name: CI Checks
    uses: ./.github/workflows/ci.yaml

  build:
    name: Build & Push (linux multi-arch)
    runs-on: ubuntu-latest
    needs:
      - ci-checks

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push docker image (multi-arch)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/dlbarduzzi/sentinel-api:latest
            ghcr.io/dlbarduzzi/sentinel-api:${{ github.sha }}
