name: CI Checks

on:
  workflow_call:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.25"

      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: "v2.6"

  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.25"

      - name: Run tests
        run: go test ./...
